body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Montserrat", "Arrial", "Tahoma" sans-srif;
}

.contener {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  margin-top: 30px;
}
