.box {
  display: flex;
  width: 995.998px;
  height: 333px;
  transform: translateY(-50px);

  &__logo {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0);
    stroke-width: 4px;
    stroke: #17206a;
  }

  &__head {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: translateY(-20px);
    margin-left: 5px;
    width: 350px;
  }

  &__link {
    margin-left: 800px;
  }
}
